html, body{
    padding: 0%;
    margin: 0%;
    border-spacing: 0;
    border-collapse: collapse;
}

/* Header Container s */
header{
    background-color: #1B2430;
    height: 60px;
    width: 100%;
    display: block;
}
/* Header Container e */

/* Nav Bar Container s */
nav{
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 200px 400px auto;
    grid-template-rows: 60px;
}
.navBarLogo{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    align-self: center;
}
.navBarLogo span{
    color: orange;
}
#navBarSearch{
    text-align: center;
    padding: 10px;
    align-self: center;
}
#navBarSearch input{
    width: 360px;
    height: 25px;
    border-radius: 7px;
    border: transparent;
}
.navBar{
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
}
.navBar ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
.navBar ul li{
    padding: 10px;
}
/* Nav Bar Container e */

main{
    display: grid;
    grid-template-columns: auto 180px;
    background-color: #D6D5A8;
}

#cartContainer{
    background-color: #fdfdfd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#cartContainer h5{
    margin-top: 0%;
}
.cardInCart{
    height: 90px;
    width: 99px;
    border-radius: 3px;
}
/* cards products s */
#productsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 15px;
    margin: 12px;
}
#productsContainer button{
    margin-top: 10px;
    font-size: 15px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(69, 69, 248);
    border: solid 2px #4545f8;
    border-radius: 6px;
    font-weight: bold;
}
#productsContainer div{
    background-color: #51557E;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#productsContainer div .cardPhoto{
    height: 220px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 0%;
}
#productsContainer div .cardInfo{
    padding: 10px;
    color: white;
}
/* cards products e */

/* Footer Container s */

footer{
    height: 250px;
    width: 100%;
    background-color: #1B2430;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer form{
    padding: 10px;
    height: 150px;
    display: inline-block;
}
#email{
    width: 250px;
    height: 25.5px;
    border-radius: 6px 0px 0px 6px;
    border: transparent;
    margin-right: -4px;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonSus{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(69, 69, 248);;
    border: solid 2px rgb(69, 69, 248);
    border-radius: 0px 6px 6px 0px;
    height: 28px;
}
.buttonSus:hover{
    background-color: rgb(54, 54, 150);
}

/* Footer Container e */